<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJLxpDM3fB2mRRRKuA4MqlV3ZYFjoBCSI</string>
	<key>GCM_SENDER_ID</key>
	<string>127822371110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linovt.Guardian.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>guardian-9d8c5</string>
	<key>STORAGE_BUCKET</key>
	<string>guardian-9d8c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127822371110:ios:4b9318bb886068477d49e7</string>
</dict>
</plist>